body{
    margin: 0;
}

.header{
    height: 100px;
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    padding-left: 50px;
    padding-right: 50px;
}

.header-links{
    display: flex;
    padding-right: 20px;
}

.header-links *{
    padding: 20px
}

.hero-text{
    height: 400px;
    display: flex;
    background-color: #1f2937;
    color: white;
    align-items: center;
    padding: 5%;
    
}


.hero-main-text, .hero-secondary-text{
    width: 50%;   
}
.hero-main-text{
    font-size: 48px;
    color: #f9faf8
}

.hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb
}

.placeholder-image{
    
}