body{
    margin: 0;
}

.header{
    height: 100px;
    background-color: #1f2937;
    color: white;
    font-family: 'Roboto';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    padding-left: 50px;
    padding-right: 50px;
}

.header-links{
    display: flex;
    padding-right: 20px;
}

.header-links *{
    padding: 20px
}

.hero-text{
    height: 600px;
    display: flex;
}